header {
  margin: 0 1rem;
  /* margin-top: 0; */
}

.logo{
  font-size: 2em;
  text-decoration: none;
  color: rgb(105, 50, 32);
  color: rgb(235, 228, 108);
}

@media screen and (max-width: 720px) {
  
}


@media screen and (max-width: 480px) {
  
}