---
layout: default
title: Alvin - Blogs
---
<main>
    <div class="col">
        <h3>Posts</h3>
        <div class="col">
            <ul class="posts col">
                {% for item in site.posts %}
                    <li class="col">
                        <a href="/post/{{ item.name }}" {% if page.url == item.name %} {% endif %}>
                            {{ item.title }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>