body{
    background: #38385e;
    background: linear-gradient(98deg, rgba(56, 56, 94, 1) 0%, rgba(18, 18, 41, 1) 34%, rgba(101, 128, 133, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.current {
  color: rgb(185, 53, 5);
}
