---
---
@use "../../_sass/main";
*{
    padding: 0;
    margin: 0;
}
body{
    background: #38385e;
    background: linear-gradient(98deg, rgba(56, 56, 94, 1) 0%, rgba(18, 18, 41, 1) 34%, rgba(101, 128, 133, 1) 100%);
}
nav{
    background-color: beige;
    color: saddlebrown;
    height: 48px;
    display: flex;
    padding: .5em .4em;
    align-items: center;
}
main{
    padding: 1em;
}
footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: 42px;
    background-color: rgb(80, 80, 80);
    color: rgb(220, 220, 220);
}
